#cont,
body {
  background-color: #000 !important;
  color: #fff;
}

#nav {
  display: none;
}

img.leader {
  width: 42rem;
}

p.leader,
.list > li > a,
.list h1 {
  font-size: 2rem;
  font-weight: 500;
  line-height: 2.6rem;
  text-transform: none;
}

.list > li > a {
  text-decoration: n
}

.list li h1 span {
  border-bottom: 3px solid #fff;
}

li::before {
  content: '';
}

a {
  color: #fff;
}

h3,
div.footer {
  font-family: 'scp';
  font-size: .7rem;
  font-weight: 200;
}

div.footer {
  margin: 4rem 0 4rem 0;
}

div.footer p {
  margin: 0;
}