#nav {
  display: none;
}

img.leader {
  width: 42rem;
}

h2,
h3 {
  margin-top: auto;
}

p {
  font-size: 1.2rem;
  line-height: 1.8rem; 
}

code {
  background-color: transparent;
  font-weight: 200;
  font-size: 1rem;
}

p.email {
  margin-bottom: 2rem;
}

div.email:empty:not(:focus):before{
  content:attr(data-ph)
}

input.email {
  border-radius: 0;
  font: inherit;
  font-family: 'scp';
  font-weight: 200;
  line-height: 2rem;
  min-width: 2rem;
  border: 0;
  outline: 0;
  background-color: transparent;
  border-bottom: 3px solid #000;
  margin-right: 1rem;
  display: inline-block;
}

input.email.valid {
  color: #99F27C;
}

input.email.error {
  color: #F74040;
}

button.submit {
  font: inherit;
  border: 0;
  background-color: #000;
  color: #fff;
  font-size: 1rem;
  line-height: 1.6rem;
  vertical-align: middle;
  font-weight: 500;
  padding: .4rem;
}

h1 {
  font-size: 2rem;
  font-weight: 500;
  line-height: 2.6rem;
  text-transform: none;
  text-decoration: none;
  margin-top: 1rem;
}

h1.leader:after {
  content: "\2014";
  margin-left: 1rem;
}

h1 code {
  font-weight: 500;
}

h2 {
  font-size: 2rem;
  line-height: 2.8rem;
  font-weight: 200;
  letter-spacing: .06rem;
  margin-top: 3rem;
}

li::before {
  content: "";
}

.list > li > a {
  text-transform: none;
  text-decoration: none;
}

.list > li > a h1 {
  border-bottom: 2px solid #000;
}

.list h1 {
  font-size: 1.2rem;
  line-height: 2rem;
}

a {
  text-decoration: none;
}

h1 a {
  text-decoration: none;
}

h3,
div.footer {
  font-family: 'scp';
  font-size: .7rem;
  font-weight: 200;
}

div.footer {
  margin: 4rem 0 4rem 0;
}

div.footer p {
  margin: 0;
}

@media only screen and (min-width: 320px) and (max-width: 1024px) {
  #cont {
    top: 1rem;
  }

  h1,h2 {
    font-size: 1rem;
  }

  h2 {
    margin-top: 1rem;
  }

  .list > li > a h1,
  p {
    line-height: 1rem;
  }

  .list > li > a h1,
  p,
  code,
  input.email,
  button.submit {
    font-size: .7rem;
  }
}