body {
  margin-top: 1rem;
}

a {
  color: inherit;
}

p {
  line-height: 1.6rem;
}

img.logo {
  width: 2rem;
  height: 2rem;
  margin-left: -3rem;
}

h1:after {
  content:"";
}

h2,
h3,
h4 {
  font-weight: 500;
}

#c pre {
  font-size: 1rem;
}

#toc {
  margin: 2rem 0 2rem 0;
}

#toc h1,
#toc h2,
#toc h3,
#toc h4 {
  font-weight: 400;
  font-size: 1rem;
}

#toc h1.m {
  font-weight: 500;
  font-size: 1.6rem;
}

#toc h2 {
  margin-left: 1rem;
}

#toc h3 {
  margin-left: 2rem;
}

#toc h4 {
  margin-left: 3rem;
}

#nav .nav {
  display:none;
}

#nav {
  display:block;
  position: fixed;
  top: 0;
  height: 36px;
  overflow: hidden;
  background-color: #fff;
}